@import '_color.scss';

html {
    font-size: 100%;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: $accent-color;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
}

#app {
    font-family: 'Avenir Book';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    font-size: 100%;
  }
  
  #nav {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .nav-wrap {
        position: fixed;
        font-size: 0.91667vw;
        line-height: 0.91667vw;
        letter-spacing: 0;
        display: inline-block;

        &:first-child {
            top: 4rem;
            left: 4.95833vw;
        }

        &:nth-child(2) {
            top: 4rem;
            right: 4.95833vw;
        }

        &:nth-child(3) {
            bottom: 4rem;
            left: 4.95833vw;
        }

        .nav-link {
            transition: all 0.3s ease;

            &:hover ~ .cursor {
                transform: translate(-5px, -5px) scale(3);
            }
            
        }
        
        a {
            font-weight: bold;
            color: #2c3e50;
            text-decoration: none;
            
            &.router-link-exact-active {
            color: #42b983;
            }

            span {
                display: inline-block;
                color: inherit;
                font-size: inherit;
                transition: transform 0.1s linear;

                &:hover {
                    font-size: 0.81667vw;
                }
            }
        }
    }
}




